<!-- Partly modified from git-wiki-theme. -->
{% if site.disable_edit != true %}
    <div class="right-buttons" buttons>
        <div class="NavButton">
            <a target="_blank" href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/{{ site.site_root | default: '/' }}{{page.path | escape}}">
                Edit
            </a>
        </div>
        <div class="NavButton">
            <a target="_blank" href="{{ site.github.repository_url }}/new/{{site.git_branch | escape}}{{ site.site_root | default: '/' }}{{ site.wiki_folder }}?filename=">
                Add new
            </a>
        </div>
        <div class="NavButton">
            <a target="_blank" href="{{ site.github.repository_url }}/commits/{{site.git_branch | escape}}/{{ site.site_root | default: '/' }}{{page.path | escape}}">
                History
            </a>
        </div>
        <div class="NavButton">
            <a target="_blank" href="{{ site.github.repository_url }}/blob/{{site.git_branch | escape}}/{{ site.site_root | default: '/' }}{{page.path | escape}}">
                Source
            </a>
        </div>
        <div class="NavButton">
            <a target="_blank" href="{{ site.github.repository_url }}/delete/{{site.git_branch | escape}}/{{ site.site_root | default: '/' }}{{page.path | escape}}">
                Delete
            </a>
        </div>
    </div>
{% endif %}
