<!DOCTYPE html>
<html>
  {% include bakery-wiki/head.html %}
        {% comment %} This injects the frontmatter accent colors into the body css, overwriting the initial variables imported alongside the header at line 3
        This does NOT need default values, the default should fallback to the stylesheets.
        The if statements avoid asigning empty variables, which chromium browsers do not like, at all, chromium sucks. {% endcomment %}
        {% comment %}============================================================================================== {% endcomment %}
  {% if page.accent-light %}
    <style>
      body {
        --accent-light: {{ page.accent-light }};
      }
    </style>
  {% endif %}
  {% if page.accent-dark %}
    <style>
      body {
        --accent-dark: {{ page.accent-dark }};
      }
    </style>
  {% endif %}
  {% comment %}============================================================================================== {% endcomment %}
  <body data-theme>
    {% include bakery-wiki/navBar.html %}
    {% comment %} Add the sidebar unless the page has it disabled {% endcomment %}
    {% if page.sidebar != false %}
        <div class="SideBar">
            {% include bakery-wiki/toc/toc-lib.html title="Contents:" minHeaders=1 html=content sanitize=true class="SideBar" id="git-wiki-toc" h_min=1 h_max=3 %}
        </div>
    {% endif %}
    <div class="Content">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <div class="post-item">
      <p class="author">
        <span class="date">{{ post.date | date: "%-d %B %Y"}}</span>
      </p>
      <div class="git-wiki-content">
        {{ post.excerpt }}

        <a href="{{ post.url | relative_url }}">...Read all</a>
      </div>
    </div>
    <hr>
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">
        Previous
      </a>
      {% else %}
      <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
      {% else %}
      <span class="next ">Next</span>
      {% endif %}
    </div>
  </div>
</body>

</html>